.ListItem {
    color: rgb(239, 28, 28);
    font-weight: bold;
}

h2 {
    font-family: "Ga Maamli", sans-serif;
}
 
.title {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  